.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $themeColor-Pink;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
  .logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Julius Sans One", sans-serif;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
  .nav-links {
    position: absolute;
    top: 8vh;
    height: 41vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    justify-content: space-around;
    z-index: 2;
    @media screen and (min-width: 768px) {
      width: 45%;
      flex-direction: row;
      transform: translate(0);
      position: static;
      height: 0;
    }
    li {
      list-style: none;
      opacity: 0;
      @media screen and (min-width: 768px) {
        opacity: 1;
      }
    }
  }
  .nav-links.nav-active {
    transform: translateY(0%);
    transition: transform 0.5s ease-in;
    background-color: $themeColor-Pink;
  }
  a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
  }
}
.header-background {
  background-image: url(".././images/background-mobile.jpg");
  height: 92vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    background-image: url(".././images/background-deskt.jpg");
  }
  .header-content {
    display: flex;
    flex-direction: column;
    margin-top: 110px;

    @media screen and (min-width: 768px) {
      margin-top: 70px;
    }
    .header-text {
      text-align: center;
      color: $themeColor-Grey;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.8rem;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
          font-size: 2.5rem;
        }
      }
      h2 {
        font-size: 1.1rem;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        width: 80%;
        align-self: center;
        @media screen and (min-width: 768px) {
          font-size: 1.2rem;
        }
      }
    }
    .header-button {
      text-align: center;

      button {
        margin-top: 30px;
        padding: 14px;
        border: solid $themeColor-Grey 1px;
        background-color: #ededf0;
        font-family: "Lato", sans-serif;
        font-size: 0.8rem;
        color: $themeColor-Grey;
        @media screen and (min-width: 768px) {
          padding: 22px;
          font-size: 1.1rem;
          margin-top: 50px;
        }
        &:hover {
          // background-color: #7D7D7D;
          // background-color: #6e7168;
          background-color: $themeColor-Grey;
          color: #fff;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}

.burger {
  display: block;
  cursor: pointer;
  z-index: 3;
  @media screen and (min-width: 768px) {
    display: none;
  }
  div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
