.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $pinkColor;
  font-weight: 400;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
  &__logo {
    color: $whiteColor;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: "Julius Sans One", sans-serif;
    @media screen and (min-width: 769px) {
      font-size: 1.1rem;
    }
  }
  &__items {
    position: absolute;
    top: 8vh;
    height: 41vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    justify-content: space-around;
    z-index: 2;
    @media screen and (min-width: 769px) {
      width: 45%;
      flex-direction: row;
      transform: translate(0);
      position: static;
      height: 0;
    }
    .nav__item {
      list-style: none;
      opacity: 0;
      @media screen and (min-width: 769px) {
        opacity: 1;
      }
      .nav__link {
        color: $whiteColor;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1rem;
      }
      .nav__link::after {
        @media screen and (min-width: 769px) {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $whiteColor;
          transition: width 0.3s;
          margin-top: 5px;
        }
      }
      .nav__link:hover::after {
        @media screen and (min-width: 769px) {
          width: 100%;
          transition: width 0.5s;
        }
      }
    }
  }
  .nav__items.nav__active {
    transform: translateY(0%);
    transition: transform 0.5s ease-in;
    background-color: $pinkColor;
  }

  &__burger {
    display: block;
    cursor: pointer;
    z-index: 3;
    @media screen and (min-width: 769px) {
      display: none;
    }
    .nav__line {
      width: 25px;
      height: 2px;
      margin: 5px;
      background-color: $whiteColor;
      transition: all 0.3s ease;
    }
  }
}
.header {
  background-image: url("../img/background.jpg");
  height: 92vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    @media screen and (min-width: 769px) {
      margin-top: 70px;
    }
    .header__text {
      text-align: center;
      color: $greyColor;
      display: flex;
      flex-direction: column;
      .header__caption {
        font-size: $fontSizeMainHeadingMobile;
        font-weight: 300;
        margin-bottom: 10px;
        align-self: center;
        @media screen and (min-width: 769px) {
          font-size: $fontSizeMainHeadingDeskt;
        }
      }
      .header__caption--smaller {
        font-size: 1.1rem;
        width: 80%;
        @media screen and (min-width: 769px) {
          font-size: 1.2rem;
        }
      }
    }
    .header__button-container {
      text-align: center;

      .header__button {
        margin-top: 30px;
        padding: 18px;
        border: solid $pinkColor 1px;
        background-color: #ededf0;
        font-size: 0.8rem;
        color: $pinkColor;
        @media screen and (min-width: 769px) {
          padding: 22px;
          font-size: 1.1rem;
          margin-top: 50px;
        }
        &:hover {
          background-color: $pinkColor;
          color: $whiteColor;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.toggle .nav__line--upper {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .nav__line--middle {
  opacity: 0;
}
.toggle .nav__line--bottom {
  transform: rotate(45deg) translate(-5px, -5px);
}
