$pinkColor: #d49276;
$greyColor:#737373;
$lightGreyColor:#C1C2C4;
$whiteColor:#fff;

$fontSizeHeadingMobile:1.8rem;
$fontSizeHeadingDeskt:2.5rem;

$fontSizeMainDeskt:1.1rem;
$fontSizeMainMobile:1rem;


