$pinkColor: #d49276;
$greyColor:#737373;
$backgroundColor:#F2EEE9;
$whiteColor:#fff;

$fontSizeMainHeadingMobile:1.8rem;
$fontSizeHeadingMobile:1.7rem;

$fontSizeMainHeadingDeskt:2.5rem;
$fontSizeHeadingDeskt:2.2rem;

$fontSizeMainDeskt:1.1rem;
$fontSizeMainMobile:1rem;


